@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: #021f47;
}

h6 {
  font-family: 'Balsamiq Sans', cursive;
}
h5 {
  font-family: 'Balsamiq Sans', cursive;
}

p {
  font-family: 'Patrick Hand', cursive;

  /* font-weight: 100; */
}
.slider {
  width: 100%;
  height: 100%;
  border-radius: 21px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
}
.slide {
  position: relative;
  min-width: 20%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}

@media only screen and (max-width: 950px) {
  .slide {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
  }
}
.c--right {
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  background: none;
  border: 0;
}

/* for desktop */
@media screen and (min-width: 1025px) {
  .header-section {
    background: url('./assets/feature.jpg') no-repeat;
    background-size: cover;
    background-position: center top 0%;
  }
}

/* 600 -1024 */
@media (min-width: 600px) and (max-width: 1024px) {
  .header-section {
    background: url('./assets/feature_ipad.jpg') no-repeat;
    background-size: cover;
    background-position: center right 10%;
  }
}

/* for tablets */
@media (min-width: 481px) and (max-width: 601px) {
  .header-section {
    background: url('./assets/feature.jpg') no-repeat center;
    background-size: cover;
    /* max-height: fit-content;
    max-width: 100%; */
  }
}

/* for mobile  */
@media screen and (max-width: 480px) {
  .header-section {
    color: #f8f8f8;
    background: url('./assets/mobile_version.jpg') no-repeat;
    background-size: cover;
  }
}

.footer-section {
  background-image: linear-gradient(to bottom right, #f8f8f8, #f8f8f8, #f8f8f8, #c91f61);
}

.appbar-section {
  /* padding-left: 100px;
  padding-right: 100px; */
  color: #021f47;
  background-image: linear-gradient(to bottom, #f8f8f8, #6a00dc);
}
